<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Joseph Carmichael</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	</head>
	<body>
		{% include 'includes/_navbar.html' %}
		<iframe src="https://drive.google.com/file/d/0BzauiesyzrufdTdRNGl0bXpKREJXLS1uMERrVTIzQndGVzE4/preview" border="0" frameborder="0"></iframe>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	</body>
	</html>

<style>
	body{
		padding-top: 60px;
	}
	iframe{
	height: 1050px;
	width:100%;
	}
	body { 
  background: url(https://images.pexels.com/photos/317377/pexels-photo-317377.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>